html,body {
  padding:0px;
  margin:0px;
  background:#aaa;
}

.App {
  text-align: left;
}

.layout-info{
  position: fixed;
  top: 0%; bottom:0%;
  left:0%; right: 60%;
  padding: 0.5em;
  background-color: lightgrey;
  overflow-y: auto;
}
.layout-map{
  position: fixed;
  top: 0%; bottom:0%;
  left:40%; right: 0%;
  padding: 0em;
  background-color: darkolivegreen;
}
#map {
  position: absolute;
  top: 0%; bottom:0%;
  left:0%; right: 0%;
}

button:hover,
input[type='file']:hover{
  cursor: pointer;
  color: blue;
}
.layout-info h1{
  margin:0em;
  font-size: 100%;
}
.layout-info textarea{
    font-family: 'Courier New', Courier, monospace;
  width:100%;
  height: 20%;
  margin-bottom: 1em;
}
